{% extends "@EasyAdmin/page/content.html.twig" %}
{% form_theme pw_form "@EasyAdmin/crud/form_theme.html.twig" %}

{% block page_title %}{% trans %}user.settings.title{% endtrans %}{% endblock %}

{% block page_content %}

    <h5>{% trans %}password.change_pw.title{% endtrans %}</h5>
    {{ form_start(pw_form) }}
    {{ form_end(pw_form) }}
{% endblock %}