{% macro signature(left, bottom) %}
    <div class="signature-area" style="margin-top: 25mm;">
        <span style="display: inline;">{{ left }}</span>
        <div style="border-top: solid 0.2mm black; margin-left: 80mm;">{{ bottom }}</div>
    </div>
{% endmacro %}

{% macro confirmation_signature(confirmation) %}
    {# @var confirmation \App\Entity\Embeddable\Confirmation #}
    {% if confirmation.confirmed %}
        {{ _self.signature("Bestätigt, " ~ confirmation.timestamp | format_datetime("short"), confirmation.confirmerName) }}
    {% else %}
        {{ _self.signature("Datum", "Unterschrift") }}
    {% endif %}
{% endmacro %}