{% extends "pdf/form.html.twig" %}

{# @var paymentOrder \App\Entity\PaymentOrder #}

{% block header %}
    {{ paymentOrder.iDString }}
{% endblock %}

{% block content %}
    <h1>Test</h1>

    {{ paymentOrder.iDString }}
{% endblock %}