{% extends "@EasyAdmin/page/login_minimal.html.twig" %}

{% block page_title %}
    {% trans %}tfa.check.title{% endtrans %}
{% endblock %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}
    {% include '@EasyAdmin/flash_messages.html.twig' %}

    <div class="login-wrapper">
        <section class="content">
            {% block page_content %}{% endblock %}
        </section>
    </div>
{% endblock %}