twig:
    default_path: '%kernel.project_dir%/templates'
    form_themes: ['bootstrap_5_layout.html.twig']
    globals:
        support_email: '%app.support_email%'
        fsb_email: '%app.fsb_email%'
        hhv_email: '%app.hhv_email%'
        locale_menu: ['de', 'en']
        is_productive: '%app.is_productive%'

    file_name_pattern: '*.twig'

    paths:
    #    # point this wherever your css files live
         '%kernel.project_dir%/assets/css': css

when@test:
    twig:
        strict_variables: true
