parameters:
    level: 5
    paths:
        - src/
        - tests/

    excludePaths:
        - src/Doctrine/Purger/*
        - tests/bootstrap.php

    symfony:
            containerXmlPath: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    doctrine:
        objectManagerLoader: tests/object-manager.php
        allowNullablePropertyForRequiredField: true

