{% extends "security/2fa_form_base.html.twig" %}

{% block page_title %}Link zum Zur端cksetzen versandt{% endblock %}

{% block page_content %}
    <p>
        Wenn ein Account mit dieser E-Mail-Adresse existiert, dann wurde ein Link an diese E-Mail-Adresse geschickt mit dem das Passwort zur端ckgesetzt werden kann.
        Dieser Link wird in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} ablaufen.
    </p>

    <p>Wenn du keine E-Mail erhalten hast 端berpr端fe deinen Spamfilter oder <a href="{{ path('app_forgot_password_request') }}">versuche es erneut</a>.</p>
{% endblock %}
