{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'dashboard.title'|trans %}

{% block page_content %}
    <div class="jumbotron">
        <h1>{% trans %}dashboard.welcome{% endtrans %}</h1>
        <h4>{% trans %}dashboard.explanation{% endtrans %}</h4>
        <p>{% trans with {'%email%': support_email} %}dashboard.contact_info{% endtrans %}</p>

        <hr>
        <b>{% trans %}dashboard.warning{% endtrans %}</b>
    </div>

{% endblock %}
