/********************************
* Toasts
 ********************************/
.toast-container {
    position: fixed;
    top: auto;
    z-index: 3000; /* Over darkmode layer for correct colors! */
    right: 25px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

fieldset {
   /* background: var(--fieldset-bg); */
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    padding: 10px 20px 15px !important;
}

fieldset>legend {
    border: 0;
    font-size: var(--font-size-sm);
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 5px -5px;
    padding: 0 5px;
    width: auto;
    float: none;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

form .col-form-label.required:after, form label.required:after {
    bottom: 4px;
    color: var(--bs-secondary-color);
    content: "\2022";
    filter: opacity(75%);
    position: relative;
    right: -2px;
    z-index: 700;
}

/*** Make form-control placeholders italic ***/
.form-control::placeholder {
    font-style: italic;
}