{% extends "main_card.html.twig" %}

{% block card_title %}<i class="fas fa-file-invoice-dollar fa-fw"></i> {% trans %}payment_order.new{% endtrans %}{% endblock %}

{% block card_content %}
    <p class="text-muted">
        {% trans %}payment_order.new.hint{% endtrans %}<br>
        {% trans with {'%fsb_email%': fsb_email, '%support_email%': support_email, '%hhv_email%': hhv_email} %}payment_order.new.contact_info{% endtrans %}
    </p>

    {{ form_start(form) }}

    {{ form_errors(form) }}


    {{ form_end(form) }}
{% endblock %}