<footer class="mt-4 bg-light p-2 border-top">
    <div class="container">
        <span class="text-muted">Die Studierendenschaft der FSU Jena ist gemäß §79 Abs. 1 ThürHG eine Teilkörperschaft des öffentlichen Rechts.</span>
        <br>
        <a href="https://www.stura.uni-jena.de/impressum.php">{% trans %}footer.impress{% endtrans %}</a>
        <a href="https://www.stura.uni-jena.de/datenschutz.php" class="ml-1">{% trans %}footer.privacy{% endtrans %}</a>
    </div>
</footer>