<footer class="mt-4 bg-body-tertiary p-2 border-top">
    <div class="container">
        <span class="text-muted">Die Studierendenschaft der FSU Jena ist gemäß §79 Abs. 1 ThürHG eine Teilkörperschaft des öffentlichen Rechts.</span>
        <br>
        <a href="https://www.stura.uni-jena.de/impressum.php">{% trans %}footer.impress{% endtrans %}</a>
        <a href="https://www.stura.uni-jena.de/datenschutz.php" class="ms-1">{% trans %}footer.privacy{% endtrans %}</a>
        <br>
        <small class="text-muted">
            <small>
                <a href="https://github.com/jbtronics/StuRa-Finanzsoftware" class="text-muted" target="_blank">This software is open source and licensed under AGPL3.</a>
            </small>
        </small>
    </div>
</footer>