<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom shadow-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            StuRa
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans %}navbar.new_request{% endtrans %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('payment_order_new') }}"><i class="fas fa-file-invoice-dollar fa-fw"></i> {% trans %}payment_order.new{% endtrans %}</a></li>
                    </ul>
                </li>
            </ul>

            {% if not is_productive %}
            <ul class="navbar-nav">
                    <h5 class="text-danger">!! Testsystem, Keine echten Eingaben !!</h5>
            </ul>
            {% endif %}

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" title="navbar.choose_language" aria-expanded="false" data-bs-reference="window">
                        <i class="fas fa-fw fa-lg fa-language fa-circle-half-stroke"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><h6 class="dropdown-header">{% trans %}ui.toggle_darkmode{% endtrans %}</h6></li>
                        <li class="px-4 py-0 d-flex justify-content-between align-items-baseline">
                            <div class="btn-group" role="group" {{ stimulus_controller('darkmode') }}>
                                <input type="radio" class="btn-check" name="darkmode" id="darkmode-light" autocomplete="off" value="light">
                                <label class="btn btn-outline-secondary" for="darkmode-light" title="{% trans %}ui.darkmode.light{% endtrans %}"><i class="fa-solid fa-sun"></i></label>
                                <input type="radio" class="btn-check" name="darkmode" id="darkmode-dark" autocomplete="off" value="dark">
                                <label class="btn btn-outline-secondary" for="darkmode-dark" title="{% trans %}ui.darkmode.dark{% endtrans %}"><i class="fa-solid fa-moon"></i></label>
                                <input type="radio" class="btn-check" name="darkmode" id="darkmode-auto" autocomplete="off" value="auto" checked>
                                <label class="btn btn-outline-secondary" for="darkmode-auto" title="{% trans %}ui.darkmode.auto{% endtrans %}"><i class="fa-solid fa-circle-half-stroke"></i></label>
                            </div>
                        </li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('admin_dashboard') }}">{% trans %}navbar.admin_login{% endtrans %}</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.stura.uni-jena.de/">StuRa-Homepage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>