{#
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}
#}

{% block address_widget %}
    {{ form_row(form.streetNumber) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.zipCode) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.city) }}
        </div>
    </div>
{% endblock %}