<html lang="de">
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% include "pdf/_base_styles.css.twig" %}
        {% block styles %}{% endblock styles %}
    </style>
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>