<html lang="de">
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% include "pdf/_base_styles.css.twig" %}
        {% block styles %}{% endblock styles %}
    </style>
</head>
<body>

{# Load some umlauts hiddenly, this prevents ß to be rendered as ?? later #}
<span style="display: none;">äöüß</span>

{% block body %}{% endblock body %}
</body>
</html>