<html lang="de">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="{{ app_title_version }}">
    <style>
        {% include "pdf/css/_base.css.twig" %}
        {% block styles %}{% endblock styles %}
    </style>
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>