{% extends "pdf/header_footer.html.twig" %}

{% block main %}

    <div class="fold-mark"></div>
    <div class="center-mark"></div>
    <div class="fold-mark2"></div>

    {% block content %}

    {% endblock %}

{% endblock %}